<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
<<<<<<< HEAD
    <title>Hello Electron React!</title>
=======
    <title>Pascal X-0</title>
>>>>>>> 2a065f488538723148ea359cfde63625c03aab06
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
